.home {
    height: 120vh;
    background-image: url(../../../../assets/recursos/imagenes/general/login/fondo_playa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}