<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a [routerLink]="['/inicio']"><img src="../../../../../assets/recursos/imagenes/superadmin/home/puesta-de-sol.png" class="img-nav"></a>
        <a class="navbar-brand text-white ms-2" [routerLink]="['/inicio']">Vacation Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" (click)="toInfo()" style="cursor: pointer">Acerca de la Plataforma</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="toTrabajo()" style="cursor: pointer">Ley Federal del Trabajo</a>
                </li>
            </ul>

            <form class="d-flex" role="search">
                <button class="btn btn-success" type="submit" [routerLink]="['/iniciar_sesion']">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</nav>