<app-header></app-header>
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active slide-1"></div>
        <div class="carousel-item slide-2"></div>
        <div class="carousel-item slide-3"></div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<section id="info">
    <h1 class="text-center text-white">Acerca de Vacation Manager</h1>

    <hr>
    <h2 class="text-center text-white">Misión</h2>
    <div class="container  mb-5 mt-4 text-white" style="text-align: center">

        <p> <b>Vacation Manager es un sistema para le gestión de vacaciones para los empleados de la empresa INNMORTAL</b></p>
        <p><b> Nuestra misión es facilitar la gestión de vacaciones de manera eficiente y transparente para empleados y empleadores. A través de nuestro sistema gestor de vacaciones, buscamos optimizar el proceso de solicitud, aprobación y seguimiento de las
            vacaciones, garantizando la equidad y el cumplimiento de las políticas de la empresa. Queremos brindar a las organizaciones una herramienta que promueva un equilibrio saludable entre el trabajo y la vida personal, mejorando así la satisfacción
            y el compromiso de los empleados.
        </b>
        </p>

    </div>
    <hr>
    <h2 class="text-center text-white">Visión</h2>
    <div class="container  mb-5 mt-4 text-white" style="text-align: center">

        <p>
            <b>
            Nuestra visión es ser el núcleo tecnológico que fortalece la cultura de bienestar y equilibrio en nuestra empresa. Buscamos convertirnos en el sistema gestor de vacaciones de referencia, diseñado específicamente para nuestras necesidades internas. Queremos
            ser reconocidos por proporcionar una solución integral que permita a nuestros empleados solicitar, administrar y disfrutar de sus vacaciones de manera eficiente y sin complicaciones. A través de nuestro sistema, esperamos promover una mayor
            satisfacción y compromiso entre nuestros colaboradores, al tiempo que optimizamos la gestión de los recursos humanos, contribuyendo al éxito continuo de nuestra organización.
        </b>
        </p>

    </div>
</section>

<section id="trabajo">
    <div class="container-benefits">
        <h1 class="text-center">¡Estamos Basados en la Ley Federal del Trabajo!</h1>
        <div class="container mb-5 mt-4" style="color: black; text-align: center">
            <b>¡Ten unas vacaciones dignas acorde a tu antigüedad!</b>
            <p><b>Facilita el manejo de las vacaciones de tus empleados con nosotros, nuestro sistema está basado en la Ley Federal del Trabajo capítulo IV:Vacaciones</b></p>
            <p><b>Con las modificaciones que entraron en vigor para los artículos 76 y 78 el 1° de Enero de 2023</b> </p>
        </div>
    </div>
</section>
<app-footer></app-footer>