<app-navbar></app-navbar>
<section class="profile-card" id="profile-card">

    <img id="profile-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_vIj2V-KO5sDYPu71xxPorJXWX_FX7BzWww&usqp=CAU" />

    <h1>{{solicitud.empleado.nombre}} {{solicitud.empleado.apellidos}}</h1>


    <div class="card" style="background-color: #f8f9fa;">
        <div class="card-body">
            <h6 class="card-title text-center" style="color: #818ea2;">Días de vacaciones solicitados</h6>
            <nav>

                <ul>
                    <li>
                        <p style="float: left;">{{fechas.mes}} {{fechas.anio}}</p>
                    </li>

                    <li class="ms-2" *ngFor="let dia of dias; let i=index">
                        <p class="social-media-icon" style="color: white;">{{dia}}</p>
                    </li>
                    <div *ngIf="band_anio">
                        <li>
                            <p style="float: left;">{{fechas.mes2}} {{fechas.anio2}}</p>
                        </li>
                        <li class="ms-2" *ngFor="let dia2 of dias2">
                            <p class="social-media-icon" style="color: white;">{{dia2}}</p>
                        </li>
                    </div>
                    <div *ngIf="band">
                        <li>
                            <p style="float: left;">{{fechas.mes2}} {{fechas.anio}}</p>
                        </li>
                        <li class="ms-2" *ngFor="let dia2 of dias2">
                            <p class="social-media-icon" style="color: white;">{{dia2}}</p>
                        </li>
                    </div>


                </ul>

                <h6 class="card-title text-center" style="color: #818ea2;">Justificacion</h6>
                <p class="fs-6">{{solicitud.justificacion}}</p>
                <br>
                <div class="card warning" style="font-weight:bold ;" [ngStyle]="{ 'background-color': solicitud.estado==='ACEPTADO' ? 'green' : (solicitud.estado==='RECHAZADO' ? 'red' : '#ffc107'), 'color': solicitud.estado==='ACEPTADO' ? 'white' : (solicitud.estado==='RECHAZADO' ? 'white'
                : 'black')} ">
                    <div class="card-body">
                        {{solicitud.estado}}
                    </div>
                </div>
            </nav>

        </div>
    </div>

</section>

trsydtfygkulhhiiug