<section class="profile-card" id="profile-card">

    <img id="profile-image" src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png" />
    <div class="container">

    </div>

    <h1>{{ceo.nombre}} {{ceo.apellidos}} ({{ceo.usuario.nombre_usuario}})</h1>

    <div id="info-box">
        <p>CEO INNMORTAL</p>
    </div>

    <div class="row justify-content-around">
        <a class="btn btn-success text-white" [routerLink]="['/super/editar_cuenta',ceo.id]"> Editar Cuenta</a>
    </div><br>
    <h3>¿Dudas Sobre Las Vacaciones de Tus Trabajadores?</h3>
    <h6>Consulta la Ley Federal del Trabajo:</h6>
    <a href="https://www.dof.gob.mx/nota_detalle.php?codigo=5675889&fecha=27/12/2022#gsc.tab=0" target="_blank">Artículos Actualizados</a>

    <nav>

        <ul>



        </ul>



    </nav>

</section>