<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a [routerLink]="['/inicio']"><img src="../../../../../assets/recursos/imagenes/superadmin/home/puesta-de-sol.png" class="img-nav"></a>
        <a class="navbar-brand text-white" [routerLink]="['/landing']"> Vacation Manager </a>
        <div class="collapse navbar-collapse " id="navbarSupportedContent ">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto justify-content-md-end ">
            <a class="btn btn-success text-white " [routerLink]="[ '/login'] ">Login</a>
        </div>
    </div>
</nav>