<h1 class="titulo text-center"> Solicitudes </h1>
<div class="d-grid gap-2 col-8 mx-auto justify-content-md-end">
    <a class="btn btn-success text-white" [routerLink]="['/trabajador/crear_solicitud']">CREAR SOLICITUD</a>
</div>

<div class="d-grid gap-2 col-8 mx-auto justify-content-md-end mt-3">
    <label class="filtro text-center">Filtrar Por:</label>
    <select class=" form-select w-100 " aria-label="Default select example " #item (change)="actualizarFiltro(item.value)">
        <option value=1 selected>Estado</option>
        <option value=2>Fecha</option>
      </select>
</div>

<a class="text-white" [routerLink]="['/trabajador/inicio']"> <img src="../../../../assets/recursos/imagenes/general/regresar.svg" class="regresar"> Regresar</a>
<div class="row justify-content-center mt-5">
    <div class="col">
        <div class="container table-responsive mt-5">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="th" scope="col">#</th>
                        <th class="th" scope="col">Fecha Inicio</th>
                        <th class="th" scope="col">Fecha Fin</th>
                        <th class="th" scope="col">Estado</th>
                        <th class="th" scope="col">Aprobada Por</th>
                        <th class="th" scope="col">Denegada Por</th>
                        <th class="th" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let solicitud of solicitudes">
                        <th scope="row" style="background-color: #00aec1; color: white;">{{solicitud.id}}</th>
                        <td style="background-color: #00aec1; color: white;">{{solicitud.fecha_inicio}}</td>
                        <td style="background-color: #00aec1; color: white;">{{solicitud.fecha_fin}}</td>
                        <td [ngStyle]="{'background-color': solicitud.estado === 'ACEPTADO' ? 'green' : (solicitud.estado === 'RECHAZADO' ? 'red' : 'yellow'), 'color': solicitud.estado === 'ACEPTADO' ? 'white' : (solicitud.estado === 'RECHAZADO' ? 'white' : 'black')}">{{solicitud.estado}}</td>
                        <td style="background-color: #00aec1; color: white;">{{solicitud.aprobada_por}}</td>
                        <td style="background-color: #00aec1; color: white;">{{solicitud.denegada_por}}</td>
                        <td style="background-color: #00aec1; color: white;">
                            <a type="button" class="btn button text-white ms-4" (click)="colocarIdSolicitud(solicitud.id, 1)">Ver</a>
                            <a type="button" class="btn button text-white ms-4" *ngIf="solicitud.estado === 'PENDIENTE'" (click)="(colocarIdSolicitud(solicitud.id, 2))">Editar</a>

                        </td>
                    </tr>
                    <tr>
            </table>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" *ngFor="let i of paginasArray"><a class="page-link" [ngStyle]="pagina_actual === i ? {'background-color': '#fadbb9', 'color': 'black'} : {'background-color': '#00aec1', 'color': 'white'}" (click)="getSolicitudes(i)">{{i}}</a></li>

        </ul>
    </nav>
</div>