<footer>
    <div class="row justify-content-evenly">
        <div class="col-4">
            <p class="text-center text-white"> CONTACTO </p>
            <ul>
                <li class="li text-white text-right">
                    <img src="../../../../../assets/recursos/imagenes/general/landing/direccion.svg" width="10px" height="10px"> Gob. José Ugarte,
                    <p>Col. Nueva Chapultepec</p>
                </li>
                <li class="li text-white text-right">
                    <img src="../../../../../assets/recursos/imagenes/general/landing/correo.svg" width="10px" height="10px"> javila@innmortal.com
                </li>
            </ul>
        </div>
        <div class="vr"></div>
        <div class="col-4">
            <p class="text-white text-center">SIGUENOS</p>
            <div class="row mt-5 justify-content-end">
                <!-- Change justify-content-start to justify-content-end -->
                <div class="col-4">
                    <img src="../../../../../assets/recursos/imagenes/general/landing/facebook.svg" class="img-footer">
                </div>
                <div class="col-4">
                    <img src="../../../../../assets/recursos/imagenes/general/landing/whatsapp.svg" class="img-footer">
                </div>
                <div class="col-4">
                    <img src="../../../../../assets/recursos/imagenes/general/landing/instagram.svg" class="img-footer">
                </div>
            </div>
        </div>
    </div>
</footer>