.navbar {
    background-color: #27a082;
}

.navbar-brand {
    color: white;
}

.navbar-toggler {
    background-color: white;
}

.nav-item {
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .navbar-brand {
        font-size: small;
    }
    .img-nav {
        width: 25px;
        height: 25px;
    }
}